/* Адаптация */
@media (max-width: 900px){
  .stats-grid{ grid-template-columns: 1fr; } /* стекаем карточки */
  :root{ --header-h: 72px; }
}


@media (max-width: 720px){
  .section-top-inner{ grid-template-columns: 1fr; }
  .section-bottom-inner{ grid-template-columns: 1fr; }
  :root{ --header-h: 88px; }
  
}

@media (max-width: 600px){
  :root{ --header-h: 64px; }
}

@media (max-width: 480px){
  :root{ --header-h: 96px; }  /* ещё чуть выше на совсем узких */
}

@media (max-width: 420px){
  :root{ --header-h: 56px; }
}